.hotelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.hotelWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.bookNowBtn {
  position: absolute;
  top: 20px;
  right: 0;
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.hotelTitle {
  font-size: 24px;
}
.hotelAddress {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.hotelDistance {
  color: #0071c2;
  font-weight: 500;
}
.hotelPriceText {
  color: #008009;
  font-weight: 500;
}
.hotelImgContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotelImgWrapper {
  width: 33%;
}
.hotelImg {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
}

.hotelDetails {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.hotelDetailsTxt {
  flex: 3;
}
.hotelDesc {
  font-size: 14px;
  margin-top: 20px;
  text-align: justify;
}
.hotelDtlsPrice {
  flex: 1;
  background-color: #ebf3ff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 5px;
}
.hotelDtlsPrice > h1 {
  font-size: 18px;
  color: #555;
}
.hotelDtlsPrice > span {
  font-size: 14px;
  text-align: justify;
}
.hotelDtlsPrice > h2 {
  font-weight: 300;
}
.hotelDtlsPrice > button {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

/* Slider  */
.sliderContainer {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.613);
  z-index: 999;
  display: flex;
  align-items: center;
}

.sliderImgWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderImg {
  width: 80%;
  height: 80vh;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: lightgray;
  cursor: pointer;
}

.arrowBtn {
  margin: 20px;
  font-size: 50px;
  color: lightgray;
  cursor: pointer;
}
